baseURL=${portalURL}/o/coupon-remote-app
description=
dxp.lxc.liferay.com.virtualInstanceId=default
name=Coupon Remote App
sourceCodeURL=
type=customElement
typeSettings=["friendlyURLMapping=coupon-app", "instanceable=false", "urls=static/js/main.69f98515.js", "useESM=false", "htmlElementName=coupon-app", "cssURLs=static/css/main.6773c492.css", "portletCategoryName=category.remote-apps"]